#nav-container {
    padding-bottom: 20px;
    /* border-bottom: 2px ridge var(--darkgray); */
    box-shadow: 0px 4px 2px var(--mediumgray);
}

.admin {
    margin-top: 110px;
    margin-bottom: 110px;
    width: 1040px;
}

.category-box {
    /* width: 300px; */
    width: 260px;
    border-radius: 23px;
    background-color: var(--lightgray);
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    /* padding-bottom: 40px; */
    padding-bottom: 20px;
}
.category-box h3 {
    font-size: 32px;
    font-weight: bold;
}

.category-box p {
    padding: 0px;
    font-size: 24px;
    margin-top: 15px;
    color: var(--darkgray);
    text-decoration: none;
}

/* 상세 페이지 */
.title-box p {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

.category-box p:hover {
    cursor: pointer;
}

.horizontal-line {
    background-color: black;
    margin-top: 10px;
    width: 700px;
    height: 1px;
}
.admin-box {
    margin-left: 70px;
}

/* 페이지네이션 */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
    margin: 0 5px;
    color: #d9d9d9;
    font-weight: lighter;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button.active {
    color: black;
    font-weight: bold;
}
