.footer-container{
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
    background-color: rgb(213,189,175,10%);
    min-width: 1040px;
    width: 100%;
    bottom: 0;
    margin: auto;
    margin-top: 200px;
    
}

.infomation{
    width: 1040px;
    margin: auto;
}

.cs-info{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.customer-happy{
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.cs-info{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.customer-happy{
    padding-bottom: 17px;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    
}

#call-number {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
    font-weight: bolder;
}

#cs-time{
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

.cs-detetail-info {
    display: flex;
    flex-direction: column;
}

.corp-intro{
    display: flex;
    width: 100%;
    padding-bottom: 29px;
}

.corp-location{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}

.swura-info{
    margin-left: 3px;
    color: #6B0609;
}

.sns-link{
    display: flex;
}

.sns{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.info:first-of-type {
    margin-left: 0px;
}

.info{
    margin-left: 14px;
}

.info-link{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 18px;
}

img{
    border-style: none;
    max-width: 100%;
}

ol, ul {
    padding-left: 0; /* 부트스트랩의 padding-left 덮어쓰기 */
}

.cs-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px; /* 공통 마진 */
}

.cs-section-button {
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    background-color: transparent;
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 16px;
    flex-shrink: 0; /* 줄어들지 않도록 설정 */
}

.cs-section > div {
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}

#sura-corp {
    padding: 20px 0px 30px;
    background-color: #F7F7F7;
    color: #999999;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    min-width: 1040px;
    margin: auto;
}

#corp {
    display: block;
    padding-top: 7px;
}