.row-header {
    display: flex;
    align-items: center;
    height: 35px;
    width: 700px;
    border-bottom: 1px ridge black;
}
.row-header div {
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}

.goods-info {
    margin-top: 10px;
    width: 700px;
    border-bottom: 1px ridge var(--mediumgray);
    padding-bottom: 10px;
}
.goods-info p {
    margin: 0px;
}

.row-header :nth-of-type(2) {
    width: 45px;
    margin-left: 15px;
    text-align: center;
}
/* 이미지 */
.goods-info img {
    width: 45px;
    height: 45px;
}

/* 체크박스 */
.goods-info :nth-of-type(1),
.row-header :nth-of-type(1) {
    font-size: 12px;
    line-height: 12px;
    margin-left: 15px;
}
.goods-info p:nth-of-type(1),
.row-header div:nth-of-type(1) {
    width: 30px;
    text-align: center;
}
/* 상품명 */
.goods-info :nth-of-type(2),
.row-header :nth-of-type(3) {
    margin-left: 20px;
    width: 190px;
}
.row-header :nth-of-type(3) {
    text-align: center;
}

.goods-info :nth-of-type(3),
.row-header :nth-of-type(4) {
    margin-left: 6px;
    width: 70px;
    text-align: center;
}

.goods-info :nth-of-type(4),
.row-header :nth-of-type(5) {
    margin-left: 10px;
    width: 60px;
    text-align: center;
}
.goods-info :nth-of-type(5),
.row-header :nth-of-type(6) {
    margin-left: 17px;
    width: 40px;
    text-align: center;
}

.goods-info :nth-of-type(6),
.row-header :nth-of-type(7) {
    text-align: center;
    margin-left: 15px;
    width: 70px;
}

.row-header :nth-of-type(8) {
    text-align: center;
    margin-left: 19px;
    width: 45px;
}

.goods-info .d-flex.flex-column button {
    background-color: white;
    border: 1px ridge var(--darkgray);
    border-radius: 3px;
    margin-left: 4px;
    width: 45px;
    height: 18px;
}

.goods-info .d-flex.flex-column {
    gap: 5px;
}

.addButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton button {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 36px;
    font-size: 16px;
}

.select-delete {
    margin-top: 20px;
    font-size: 12px;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    color: var(--darkgray);
    border: 1px ridge darkgray;
}

.bi-check-square:hover {
    cursor: pointer;
}
