.addButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton button {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 36px;
    font-size: 16px;
}

.form-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.rq {
    color: red;
}
.form-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.form-group label {
    width: 190px;
    font-size: 20px;
    font-weight: bold;
}
.form-group input {
    border: 1px ridge var(--mediumgray);
    border-radius: 4px;
    width: 340px;
    height: 50px;
    text-align: center;
}

#description-img-input,
#detail-img-input,
#rep-img-input {
    border: 1px ridge var(--mediumgray);
    border-radius: 4px;
    width: 234px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group:nth-of-type(3),
.form-group:nth-of-type(4),
.form-group:nth-of-type(5) {
    display: flex;
    justify-content: space-between;
}

.form-group input[type="file"] {
    display: none;
}

#goods-stockStatus {
    width: 340px;
    height: 50px;
}
.sale,
.sold-out,
.seller-sold-out,
.buttons button {
    width: 165px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 3px;
}
.sold-out:hover {
    cursor: default;
}
.form-group button {
    border: 1px ridge var(--darkgray);
    background-color: white;
    color: var(--darkgray);
}
.file-select {
    width: 100px;
    height: 50px;
    border-radius: 4px;
}

.buttons {
    margin-top: 70px;
    margin-left: 196px;
}

.goods-delete {
    background-color: white;
    border: 1px ridge var(--theme);
    color: var(--theme);
}

.goods-update {
    border: none;
    background-color: var(--theme);
    color: white;
}

#goods-category, #goods-subcategory {
    text-align: center;
    border: 1px ridge var(--mediumgray);
    border-radius: 4px;
    width: 340px;
    height: 50px;
}