#logo {
    color: #6B0609;
    font-family: 'Pinyon Script';
    font-size: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block; /* 텍스트 크기에 맞게 크기를 조정 */
    text-align: center;
    z-index: 1000; /* 다른 요소들보다 앞에 오도록 z-index 설정 */

}

#header-container{
    width: 1040px;
    margin: 30px auto ;
    position: relative;
    height: 70px; /* 헤더의 높이를 지정하세요 */
}

#logged-out-links, 
#logged-in-links {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}