#nav-container {
    padding-bottom: 20px;
    box-shadow: 0px 4px 2px var(--mediumgray);
}

.mypage {
    margin-top: 110px;
    margin-bottom: 110px;
    width: 1040px;
}

.mypage-category {
    padding: 0px;
    width: 300px;
}

.profile {
    padding: 0px;
    /* width: 300px; */
    width: 260px;
    /*height: 196px;*/
    height: 170px;
    background-color: var(--lightgray);
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-person-fill {
    font-size: 100px;
    line-height: 100px;
    color: var(--mediumgray);
}
.profile-detail {
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 48px; */
    margin-left: 10px;
    /* margin-left: 24px; */
}

.profile-detail > p:nth-child(1) {
    font-size: 18px;
    margin-bottom: 0px;
}

.member-name {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    /* font-size: 20px; */
}

.category-box {
    /* width: 300px; */
    width: 260px;
    border-radius: 23px;
    background-color: var(--lightgray);
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 40px;
    /* padding-bottom: 40px; */
    padding-bottom: 20px;
}
.category-box h3 {
    font-size: 32px;
    font-weight: bold;
}

.category-box p {
    padding: 0px;
    font-size: 24px;
    /* margin-top: 40px; */
    margin-top: 15px;
    color: var(--darkgray);
    text-decoration: none;
}

/* 상세 페이지 */

.title-box p {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

.category-box p:hover {
    cursor: pointer;
}
.horizontal-line {
    background-color: black;
    margin-top: 10px;
    width: 700px;
    height: 1px;
}

.mypage-box {
    margin-left: 40px;
}
