.bi {
	display: inline-block;
}

.cartCnt {
	top: 22px;
	right: 362px;
	position: absolute;
	background-color: #6B0609;
	color: white;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
}

#nav-container{
    width: 100%;
    min-width: 1040px;
    box-shadow: 0px 4px 4px var(--mediumgray);
    padding: 20px;
    z-index: 1000; 
}

#nav{
    width: 100%;
    min-width: 1040px;
    padding: 0px;
    margin: 0px;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

#category{
    font-size: 16px;
    box-shadow: none;
}

/* 드롭다운 메뉴 초기 상태 */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f8f9fa; /* 기본 배경색 */
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000; /* 메뉴가 다른 요소 위에 표시되도록 설정 */
    margin-top: 0.125rem; /* 불필요한 마진 제거 */
}

/* 드롭다운 메뉴 항목의 호버 색상 변경 */
.dropdown-menu .dropdown-item:hover {
    background-color: #fff; /* 호버 시 배경색 */
    color: #6B0609; /* 호버 시 텍스트 색상 */
}

#dropdownToggleButton, 
#dropdownToggleLink {
    outline: none;
    box-shadow: none; /* 추가로 그림자 효과도 제거 */
}

#dropdownToggleButton:focus, 
#dropdownToggleLink:focus {
    outline: none;
    box-shadow: none; /* 클릭 후 포커스 상태에서도 테두리 제거 */
}