.notice-header {
    height: 60px;
    border-bottom: 1px ridge var(--darkgray);
    display: flex;
    align-items: center;
}

.notice-info {
    height: 50px;
    border-bottom: 1px ridge var(--mediumgray);
}

.notice-info:hover {
    cursor: pointer;
}

.notice-header :nth-child(1),
.notice-info :nth-child(1) {
    width: 460px;
    padding: 0px;
}
.notice-info :nth-child(1) {
    margin-left: 10px;
}
.notice-header :nth-child(1) {
    text-align: center;
    margin-right: 10px;
}

.notice-header :nth-child(2),
.notice-info :nth-child(2) {
    margin-left: 0px;
    width: 50px;
    padding: 0px;
    text-align: center;
}

.notice-header :nth-child(3),
.notice-info :nth-child(3) {
    padding: 0px;
    width: 100px;
    margin-left: 70px;
    text-align: center;
}
.addButton button {
    background-color: var(--theme);
    color: white;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
    margin: 0 5px;
    color: #d9d9d9;
    font-weight: lighter;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button.active {
    color: black;
    font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}
