<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<!-- Mybatis 설정 파일의 위치를 설정 -->
	<bean id="sqlSessionFactory"
			class = "org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="configLocation" value="classpath:mybatis/mapper-config.xml"/> <!-- 이 파일의 위치 -->
			<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/><!-- 매퍼들의 위치 -->	
	</bean>
	
<!-- @Mapper를 사용하기 위한 설정 : 관리객체를 생성시키는 역할, 마이바티스가 제공하는 마크업 랭기지를 써야함, 네임스페이스 선언해야함 -->
	<mybatis-spring:scan 
			base-package="com.mycompany.springframework.dao.mybatis"
			annotation="org.apache.ibatis.annotations.Mapper"/>

</beans>
